body {
    text-align: center;
    font-family: Aerial;
    background: #333;
    color: white;
}

canvas {
    border: 2px solid black;
    margin-top: 20px;
}

#blackTimer {
  font-size: 48px;
  font-weight: bold;
  background: white;
  color: black;
  padding: 12px 24px;
  border-radius: 10px;
  border: 3px solid black;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}


#whiteTimer{font-size: 48px;
  font-weight: bold;
  background: white;
  color: black;
  padding: 12px 24px;
  border-radius: 10px;
  border: 3px solid black;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);

}
