body {
    text-align: center;
    font-family: Arial;
    background: #333;
    color: white;
}

canvas {
    border: 2px solid black;
    margin-top: 20px;
}

.timer-container{
    display:flex;
    justify-content:space-between;
    width:400px;
    margin-bottom:10px;
    font-size:22px;
    font-weight:bold;
}

