<!DOCTYPE html>
<html>
<head>
<title>Productivity Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h2>Daily Productivity Tracker</h2>

<form method="POST">

<input type="text" name="title" placeholder="Task name" required>

<select name="category">
<option>Coding Core</option>
<option>Academic EEE</option>
<option>Freelancing</option>
<option>Project-Building</option>
<option>Recovery</option>
</select>

<button type="submit">Add Task</button>

</form>

<hr>

<table border="1">

<tr>
<th>Task</th>
<th>Category</th>
<th>Status</th>
<th>Action</th>
</tr>

{% for task in tasks %}

<tr>

<td>{{task.title}}</td>
<td>{{task.category}}</td>
<td>{{task.status}}</td>

<td>

<a href="/complete/{{task.id}}">Done</a>

<a href="/delete/{{task.id}}">Delete</a>

</td>

</tr>

{% endfor %}

</table>

<br>

<a href="/logout">Logout</a>

</body>
</html>