<!DOCTYPE html>
<html>
<head>

    <title>Full Chess Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
</head>
<body>



<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>



    <div id="blackTimer">Black: 10:00</div>



<canvas id="chessCanvas" width="840" height="840" > </canvas>
<div id="whiteTimer">White: 10:00</div>
<script src="{{ url_for('static', filename='js/board.js') }}"></script>
<script src="{{ url_for('static', filename='js/rules.js') }}"></script>
<script src="{{ url_for('static', filename='js/moves.js') }}"></script>
<script src="{{ url_for('static', filename='js/games.js') }}"></script>

</body>
</html>