<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='study.css') }}">
</head>

<div class="container">

<h1>Daily Progress Tracker</h1>

<form method="POST">

<div class="sector-grid">

<div class="sector-card">
<div class="sector-title">Coding</div>
<input type="number" name="value">
</div>

<div class="sector-card">
<div class="sector-title">Academic EEE</div>
<input type="number" name="value">
</div>

<div class="sector-card">
<div class="sector-title">Freelancing</div>
<input type="number" name="value">
</div>

<div class="sector-card">
<div class="sector-title">Recovery</div>
<input type="number" name="value">
</div>

</div>

<button class="save-btn">Save Progress</button>

</form>

<a href="/reset" class="reset-btn">Reset</a>

</div>

</html>